name: CI
on:
  pull_request:
  workflow_call:
permissions: {}
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    # actions/attest-build-provenance requires these permissions
    permissions:
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Output SHA
        uses: hudsonm62/short-sha@b5ee0a4109da599fea68b00dcfe5812100ad8d42 # v1.1.0
        id: short-sha
      - name: Set plugin ver with SHA commit
        run: |
          sed -ri "s/^(versionSuffix=).*/\1sha-${SHA}/" gradle.properties || :
        env:
          SHA: ${{ steps.short-sha.outputs.sha }}
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle
      - name: Build
        run: ./gradlew jar
      - name: Generate artifact attestations
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        if: github.ref == 'refs/heads/main'
        with:
          subject-path: ./build/libs/*.jar
      - name: Upload a jar
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: artifact
          path: ./build/libs/
  test:
    name: Test
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 17
          distribution: temurin
          cache: gradle
      - name: Test
        run: ./gradlew test
